.header-dark {
  background: url(../../assets/img/fadeout33.jpg) #444;
  background-size: cover;
  padding-bottom: 80px;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  background-color: #fff;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  /*border-color: #dc3545;*/
  /*padding-right: calc(1.5em + .75rem);*/
  /*background-image: url([svg]);*/
  /*background-repeat: no-repeat;*/
  /*background-position: center right calc(.375em + .1875rem);*/
  /*background-size: calc(.75em + .375rem) calc(.75em + .375rem);*/
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255,255,255,.5);
}

